p {
    text-align: center;
    background-color: #cccccc;
}

#banner{
    width: 100%;
}

body {
    background-color: #cccccc;
}

em strong {
    color: red;
}

h2{
    text-align: center;
}

#mision{
    font-size: 20px;
}

.item{
    font-style: italic;
}

.diferenciales{
    background-color: #ffffff;
    padding: 30px;
}

.principal{
    background-color: #cccccc;
}

h3{
    text-align: center;
}

.imgDiferenciales{
    width: 50%;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}